.modal{
    width: 600px;
    height: 400px;
    top: 527px;
    left: 300px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-image:url('img/modalbackground.png');
    background-size: cover;

}

.modalcat{
    position: absolute;
    left: 260px;
    top: 70px;
}

.modaltext01{
    position: absolute;
    top: 165px;
    left: 210px;
    color: peru;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
}
.modaltext02{
    position: absolute;
    top: 250px;
    left: 110px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.close{
    position: absolute;
    top: 340px;
    left: 220px;
    width: 183px;
    height: 50px;
    background-color: peru;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-size: 15px;
}

